<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Lo sentimos pagina no encontrada!</title>
    </head>
    <body>
        <h3>Lo sentimos pagina no encontrada!</h3>
        <div th:text="${error}"></div>
        <div th:text="${status}"></div>
        <div th:text="${timestamp}"></div>
        <hr>
        <div th:text="${path}"></div>
    </body>
</html>