<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Ocurrio un error Ooops!</title>
    </head>
    <body>
        <h3>Ocurrio un error Ooops!</h3>
        <div th:text="${error}"></div>
        <div th:text="${message}"></div>
        <div th:text="${status}"></div>
        <div th:text="${timestamp}"></div>
        <hr>
        <div th:text="${trace}"></div>
    </body>
</html>