<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${error}"></title>
    </head>
    <body>
        <h3 th:text="${error}"></h3>
        <div th:text="${message}"></div>
        <div th:text="${status}"></div>
        <div th:text="${timestamp}"></div>
    </body>
</html>